<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="rounded-circle"
                                width="150">
                            <div class="mt-3">
                                <h4>{{user.firstname}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/profile">My Profile</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/view-address">Address</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/order-status"> My Orders</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/coupons-offers" style="color: red;">Coupons and Offers</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/wallet">Wallet</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div style="text-align: center;">
                    <h2>Coupons</h2>
                </div>
                <br>
                {{#if coupons}}
                {{#each coupons}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <div class=""
                        style="background-color: rgb(248, 248, 248);margin-left: 20px;padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-6 pl-sm-4">
                            <div style="text-align: center;padding-top: 10px;">
                                <h5>Coupon Code : <span style="color: green;">{{this.coupon}} </span> </h5>
                                <h6>You will get <span style="color: red;">Rs.{{this.price}} </span>discount on your
                                    purchase </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
                {{else}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <h4 style="color: red;">No Coupons Available</h4>
                </div>
                {{/if}}
                <br>
                <div style="text-align: center;">
                    <h2>Available Offers</h2>
                </div>
                <h4 style="color: rgb(86, 86, 235);">Product Offers</h4>
                <br>
                {{#if productoffer}}
                {{#each productoffer}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <div class=""
                        style="background-color: rgb(248, 248, 248);margin-left: 20px;padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-6 pl-sm-4">
                            <div style="text-align: center;padding-top: 10px;">
                                <h5>Offer Type : <span style="color: green;">{{this.offerType}} </span> </h5>
                                <h6>You will get <span style="color: red;">{{this.discount}} %</span>discount on your
                                    purchase </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
                {{else}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <h4 style="color: red;">No productoffer Available</h4>
                </div>
                {{/if}}

                <hr>

                <h4 style="color: rgb(86, 86, 235);">Category Offers</h4>
                {{#if categoryoffer}}
                {{#each categoryoffer}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <div class=""
                        style="background-color: rgb(248, 248, 248);margin-left: 20px;padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-6 pl-sm-4">
                            <div style="text-align: center;padding-top: 10px;">
                                <h5>Offer Type : <span style="color: green;">{{this.offerType}} </span> </h5>
                                <h6>You will get <span style="color: red;">{{this.discount}} % </span>discount on your
                                    purchase </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
                {{else}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <h4 style="color: red;">No categoryoffer Available</h4>
                </div>
                {{/if}}

            </div>
        </div>

    </div>
</div>
<style>
    body {
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
</style>