<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{user.firstname}}</h4>
                                {{!-- <button class="btn btn-primary">Follow</button> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="">My Profile</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/view-address">Address</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/order-status" style="color: red;"> My Orders</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/coupons-offers">Coupons and Offers</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <a href="/wallet">Wallet</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h2 style="">Order Details</h2>
                </div>
                {{#each userAllOrders}}
                <div class="" style="background-color: rgb(248, 248, 248);  max-width: 50rem;margin: auto;">
                    <div class=""
                        style="background-color: rgb(248, 248, 248);margin-left: 20px;padding-bottom: 15px; padding-top: 15px;">

                        <div class="col-6 pl-sm-4">
                            {{!-- <h6 class=" text-truncate">{{this.date}}</h6> --}}
                            {{!-- <p class=" text-truncate">Address : {{this.deliveryDetails.address}}</p>
                            <p class="">Mobile number : {{this.deliveryDetails.mobile}}</p> --}}
                            <p class="">Date :{{this.date}}</p>
                            <p class="">Total Amount : Rs. {{this.totalAmount}} Only</p>
                            <p class="">Payment Method : {{this.paymentMethod}}</p>

                            {{#if this.status}}
                            <p>{{this.status}}</p>
                            {{/if}}
                            {{#if this.shippedStatus}}
                            <p style="color: blue;">Shipped</p>
                            {{/if}}
                            {{#if this.cancelStatus}}
                            <p style="color: red;">Cancelled</p>
                            {{/if}}

                            {{#if this.deliveryStatus}}
                            <p style="color: green;">Delivered</p>
                            {{/if}}
                            <td>
                                <a href="/order-details/{{this._id}}" class="btn btn-primary">More Details</a>
                            </td>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}

            </div>
        </div>

    </div>
</div>
<style>
    body {
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(248, 245, 245, 0.1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(247, 247, 247, 0.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
</style>